
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

td img {
    max-width: 100px;
    height: auto;
}

td a {
    text-decoration: none;
    color: #0078d4;
}

td a:hover {
    text-decoration: underline;
}


.naslov {
	display: flex;
	align-items: center;
	justify-content: center;
}
